.App-link {
  color: #61dafb;
}

/* .App-logo {
  overflow: visible;
} */

.buttonrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  /* font-family: "Source Sans Pro", sans-serif; */
  font-size: 24px;
  font-weight: 600;
  /* background-color: rgb(0, 0, 255); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 0px;
  text-decoration: none;
  /* width: 160px; */
  height: 32px;
  border-radius: 8px;
  color: #5854ff;
  /* width: 80%; */
  text-align: left;
}

/* #5854ff */
#main-column {
  width: 70vw;
  background-color: inherit;
}

h1 {
  font-size: 32px;
  text-align: center;
}
h2 {
  font-size: 24px;
  text-align: left;
  padding: 0px;
  margin: 0px;
  text-decoration: underline;
}

p {
  font-size: 18px;
  text-align: center;
  width: auto;
}
a {
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

html {
  /* background-color: orange; */
  background-color: rgb(21,12,21);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */

  text-align: center;
  font-family: "Varela", sans-serif;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
